 apiKey: "AIzaSyDTSYJmyfJ4qIv6JGTe6DTZZ4T50b8dzRE",
  authDomain: "dy365-92aa0.firebaseapp.com",
  projectId: "dy365-92aa0",
  storageBucket: "dy365-92aa0.firebasestorage.app",
  messagingSenderId: "568928128769",
  appId: "1:568928128769:web:37e1417117c7fc47875500",
  measurementId: "G-8R3H4BR56L"